* {
    padding: 0;
    margin: 0;
}

.cont {
    box-shadow: black 2px 2px 15px;
    background-color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
}

.thank {
    font-size: 35px;
    position: absolute;
    top: 15%;
}

.check {
    width: 45%;
}

.back {
    text-decoration: none;
    position: absolute;
    top: 70%;
    font-size: 25px;
}

.back:hover {
    text-decoration: underline;
}