/*Standards Start*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
    height: 5000px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: 900;
}

.btn-spe {
    cursor: pointer;
    background-color: #0f73ee;
    color: white;
    font-size: 20px;
    transition: background-color .3s, border .3s, color .3s;
    width: 170px;
    height: 50px;
    border: 1px transparent solid;
    border-radius: 5px;
}

.btn-spe:hover {
    background-color: transparent;
    border: 1px #0f73ee solid;
    color: #0f73ee;
}

.let-h {
    font-weight: bold;
    font-size: 40px;
    color: #0f73ee;
}

/*Standards End*/

/*--------------------------------------------------------*/

/*Navigation Styling Start*/

nav {
    height: 60px;
    z-index: 5;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    position: relative;
    font-size: 20px;
    margin-right: 25px;
}

.links li::after {
    content: "";
    transition: transform .3s;
    background-color: black;
    position: absolute;
    bottom: -7px;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
    height: 1px;
}

.links li:hover::after {
    transform: scaleX(-1);
}

.logo {
    position: absolute;
    left: 5%;
    font-size: 35px;
}

/*Navigation Styling End*/

/*--------------------------------------------------------*/

/*Home Styling Start*/

.home {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 400px;
}

.hom-img {
    position: absolute;
    top: 0%;
    left: 3%;
    width: 50%;
    animation-name: hom-img-ani;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes hom-img-ani {
    from {
        top: -3%;
    }

    to {
        top: 0%;
    }
}

.hom-desc {
    font-size: 30px;
    width: 40%;
    position: absolute;
    right: 2%;
    top: 40%;
    animation-name: hom-desc-ani;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes hom-desc-ani {
    from {
        top: 10%;
    }

    to {
        top: 40%;
    }
}

.get-btn {
    position: absolute;
    right: 19%;
    top: 55%;
    animation-name: hom-get-btn-ani;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes hom-get-btn-ani {
    from {
        top: 25%;
    }

    to {
        top: 55%;
    }
}

.get-btn:hover a {
    color: #0f73ee;
}

.get-btn a {
    transition: color .3s;
    font-size: 20px;
    color: white;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Home Styling End*/

/*--------------------------------------------------------*/

/*Hosting Styling Start*/

.hosting {
    margin-top: 5%;
    position: relative;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.host-tit {
    font-size: 35px;
    position: absolute;
    top: 7%;
}

.plans-cont {
    position: relative;
    top: 5%;
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.plan {
    position: relative;
    background-color: white;
    width: 25%;
    height: 90%;
    border: 1px #0f73ee solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.plan-tit {
    font-size: 35px;
    position: absolute;
    top: 3%;
}

.plan-ben {
    position: absolute;
    top: 17%;
    left: 10%;
}

.plan-ben li {
    font-size: 15px;
    margin-bottom: 20px;
}

.plan-prc {
    position: absolute;
    top: 75%;
    font-size: 40px;
}

.sec-prc {
    font-size: 25px;
}

.plan-btn {
    position: absolute;
    top: 87%;
}

/*Hosting Styling End*/

/*--------------------------------------------------------*/

/*Domain Styling Start*/

.domain {
    margin-top: 5%;
    position: relative;
    width: 100%;
    height: 500px;
}

.dom-img {
    width: 40%;
    position: absolute;
    right: 3%;
    top: 0%;
    animation-name: dom-img-ani;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dom-img-ani {
    from{
        top: -3%;
    }

    to {
        top: 0%;
    }
}

.dom-desc {
    font-size: 30px;
    width: 40%;
    position: absolute;
    left: 6%;
    top: 30%;
}

.search-btn { 
    border-radius: 0;
    position: absolute;
    left: 46%;
    top: 50%;
    width: 130px;
    height: 60px;
}

input[type="search"] {
    font-size: 30px;
    border: 1px black solid;
    width: 40%;
    height: 60px;
    position: absolute;
    left: 6%;
    top: 50%;
}


input[type="search"] {
    padding-left: 5px;
}

input[type="search"]::placeholder {
    padding-left: 5px;
}

input[type="search"]:focus::placeholder{
    opacity: .3;
}

/*Domain Styling End*/

/*--------------------------------------------------------*/

/*Responsive Design Start*/

.res-menu {
    position: relative;
    right: 15%;
    top: 5%;
    width: 50px;
    height: 35px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.res-menu span {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 5px;
}

.res-menu .res-fir {
    top: 0%;
}

.res-menu .res-sec {
    top: 50%;
}

.res-menu .res-thi {
    top: 100%;
}

.menu {
    background-color: white;
    box-shadow: black 2px 2px 15px;
    z-index: 5;
    position: fixed;
    right: 0%;
    top: 0%;
    width: 70%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
}

.menu-close {
    animation-name: menu-close-ani;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes menu-close-ani {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0);
    }
}

.menu-open {
    animation-name: menu-open-ani;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes menu-open-ani {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.menu-cont {
    width: 100%;
    height: 100%;
}

.close-menu {
    font-size: 50px;
    position: absolute;
    right: 30%;
    top: 0%;
}

.menu-links {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menu-links li a {
    font-size: 20px;
}

@media (min-width:280px) and (max-width:950px) {
    .links {
        display: none;
    }

    .res-menu {
        display: block;
    }
}

/*Responsive Design End*/